<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Feed</title>
</head>
<body class = " min-h-screen flex bg-black   justify-between">
    <section class = "flex-col bg-white shadow-lg p-8">
        <div>
            <img class=" h-16 w-16 rounded-full" src="https://placehold.co/400" alt="profile photo">
            <h1>Nimbus</h1>
        </div>
       
        <div class = "flex-col">
            <h1>{{firstname + " " + lastname}}</h1>
            <h1>@{{username}}</h1> 
        </div>
        <div class = "flex">
            <div class = "flex-col">
                <h1 class="px-2">Post</h1>
                <h1>111</h1>
            </div>
            <div class = "flex-col">
                <h1>Followers</h1>
                <h1>1</h1>
            </div>
            <div class = "flex-col">
                <h1>Following</h1>
                <h1>0</h1>
            </div>
        </div>
        <div class ="flex">
          
            <h1>Feed</h1>
        </div>
        <div class ="flex">
            
            <h1>Explore</h1>
        </div>
        <div class ="flex">
           
            <h1>Trending Tags</h1>
        </div>
        <div class ="flex">
         
            <h1>Top Post</h1>
        </div>
        <div class ="flex">

            <h1>People</h1>
        </div>
        <div class ="flex">
            
            <h1>Notification</h1>
        </div>
        <div class ="flex">
            
            <h1>Direct</h1>
        </div>
        <div class ="flex">
            
            <h1>Stats</h1>
        </div>
        <div class ="flex">
            
            <h1>Settings</h1>
        </div>
            
    </section>

        

    <section class="bg-white flex-col pr-28 pl-28  min-h-screen h-full">
        <h1 class="font-bold text-center text-3xl p-5">Latest Feeds</h1>
        <div class=" flex-col p-10 bg-gray-300 rounded-xl shadow-2xl hover:bg-blue-300 transition-colors" >
            <h1>Title</h1>
            <h1>Description</h1>
            <img class = "h-96 w-96" src="#" alt="feed body">
        </div>
    </section>

    
    <section>
                
    </section>
        

    

</body>
</html>
