<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="flex-row flex items-center p-2">
        <h1 class="font-bold text-xl">Nimbus</h1>
        <input class="bg-gray-200 p-1 mx-96 w-72 rounded-lg" type="text" placeholder="Search">
        <div class="flex justify-evenly w-96"> <!-- Adjust the width as needed -->
            <button class="bg-red-500 p-1 px-4 rounded-lg font-semibold text-white">Create New Post</button>
            <div>✉️</div>
            <div>🤍</div>
            <img class="h-6 w-6 rounded-full" src="https://placehold.co/400x400" alt="dp">
        </div>
    </div>
    
    

    <div>

    </div>
</body>
</html>