<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body class="flex-col">
    <form action="/feed/post" method = 'post' enctype = "multipart/form-data">
    <div><input name = "title" type="text" placeholder="Enter title of your post"></div> 
    <div> <input name = "description" type="text" placeholder = "Enter description"> </div> 
    <div> <input name = "file" type="file" > </div>
    <button type = "submit"> Submit</button> 
    </form>
</body>
</html>